[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
blink_tipping = "Hgdc6LBYxZeXTpA3Dr53HxwxWf96wsQBX3tS1R8ArDNS"

[programs.devnet]
blink_tipping = "Hgdc6LBYxZeXTpA3Dr53HxwxWf96wsQBX3tS1R8ArDNS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
